* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
body::-webkit-scrollbar {
  overflow: hidden;
  width: 0;
  height: 0;
}

/* font-family: 'Kalam', cursive;
font-family: 'Poppins', sans-serif; */

:root {
  --h1-font: 2.8rem;
  --h2-font: 1.6rem;
  --h3-font: 1.2rem;
  --p-font: 1rem;
  --btn-font: 0.9rem;
  --main-color: #001233;
  --main-opt-color: #003566;
  --text-color: #ffecd1;
  --btn-color: #0466c8;
  --opt-color: #ffc300;
}

h1 {
  font-size: var(--h1-font);
  font-family: "Kalam", cursive;
  color: var(--text-color);
}

h2 {
  font-size: var(--h2-font);
  font-family: "Kalam", cursive;
  color: var(--text-color);
}

h3 {
  font-size: var(--h3-font);
  font-family: "Kalam", cursive;
  color: var(--text-color);
}

p {
  font-size: var(--p-font);
  font-family: "Kalam", cursive;
  color: #ffff;
}

a {
  color: #ffff;
}

/* ------------------------------------------ */

body {
  background-color: var(--main-color);
}

/* ------header--- */

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 15%;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}

.menu li {
  margin-right: 35px;
}

.menu li a::after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--opt-color);
  transition: all 1s;
  margin: auto;
}

.menu li a:hover::after {
  width: 100%;
}

.menu a:hover {
  filter: brightness(50%), blur(20%);
  text-shadow: 0px 0px 2.1px;
}

.menu .active {
  color: #ffc300;
}

.btn {
  background: var(--btn-color);
  color: white;
  padding: 0.8rem;
  border: none;
  transition: all 0.3s;
  font-size: var(--btn-font);
}

.btn:hover {
  background-image: linear-gradient(20deg, red, blue);
  cursor: pointer;
  transform: translateY(-5px);
  filter: brightness(100%), blur(50%);
}

.header_btn {
  display: flex;
  align-items: center;
}

.fa-bars {
  font-size: 1.4rem;
  cursor: pointer;
  margin-left: 15px;
  display: none;
}

/* ====large device==== */
@media only screen and (max-width: 992px) {
  .menu {
    flex-direction: column;
    order: 1;
    position: absolute;
    top: 100px;
    right: -100%;
    text-align: center;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    width: 100%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }

  .fa-bars {
    display: block;
  }

  .menu.open {
    display: block;
    right: 0;
  }

  .menu li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px;
    align-items: center;
  }
  .menu li a {
    margin: 7px;
  }

  .menu li a:hover::after {
    width: 12%;
  }
}

/* -----banner---- */

section {
  padding: 80px 15% 70px;
}

#banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  column-gap: 80px;
  justify-content: center;
  margin: auto;
}

.banner_content h1 {
  font-size: 4rem;
  line-height: 5rem;
}

.banner_content p {
  font-size: 18px;
  margin: 18px 30px 18px 0;
}

.banner_btn {
  margin: 15px 0;
}

.banner_btn .btn {
  margin-right: 10px;
}

.banner_img {
  overflow: hidden;
}

.banner_img img {
  box-shadow: 0px 20px 30px 0px rgba(0, 2, 7, 0.3);
}

.glowing_circle {
  position: absolute;
  top: -10rem;
  left: -15rem;
  z-index: -1;
  width: 500px;
  height: 500px;
  background: radial-gradient(blue, black);
  filter: brightness(10%);
  filter: blur(90px);
  border-radius: 100%;
}

.glowing_circle_1 {
  position: absolute;
  bottom: -5rem;
  right: -20rem;
  z-index: -1;
  width: 500px;
  height: 500px;
  background: radial-gradient(blue, black);
  filter: brightness(10%);
  filter: blur(90px);
  border-radius: 100%;
}

/* ------trusted companies---- */

.trusted {
  text-align: center;
}

.trusted_brands {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 45px auto;
}
.trusted_brands i {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.fa-brands {
  font-size: 2.5rem;
  color: #ffff;
}

.fa-brands h3 {
  color: white;
}
.trusted_brands span {
  border-left: 2px dotted white;
  height: 9vh;
  opacity: 15%;
}

/* ----large device ---- */

@media only screen and (max-width: 992px) {
  :root {
    --h1-font: 2.1rem;
    --h2-font: 1.6rem;
    --h3-font: 1.2rem;
    --p-font: 1rem;
    --btn-font: 0.9rem;
    --main-color: #001233;
    --main-opt-color: #003566;
    --text-color: #ffecd1;
    --btn-color: #0466c8;
    --opt-color: #ffc300;
  }

  .trusted_brands i {
    display: block;
  }

  .trusted_brands h3 {
    margin: 10px 0;
  }
}
